<!DOCTYPE html>
<html ng-app="studentPerformance">

<head>
  <meta charset="utf-8" />
  <title>Student Performance</title>
  <link rel="stylesheet" href="css/style.css" />
    <script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
  <script data-require="d3@*" data-semver="3.3.11" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
  <script src="js/Chart.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>

  <!-- Bootstrap and JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<header align="center">
    <h1 align="center">Student Life and Grade Correlation</h1>
    <h4>
        <a ng-href="https://github.com/blh22buck">Bryce Hairabedian</a>,&nbsp;
        <a ng-href="https://github.com/davidjudilla">David Judilla</a>,&nbsp;
        <a ng-href="https://github.com/justinmend">Justin Mendiguarin</a>
    </h4>
</header>
<br>

<body ng-controller="MainCtrl as ctrl">

    <!-- bar chart -->
    <div class="container-fluid" align="center" style="background-color: #f1f8e9;"><!-- style="background-color: #cfc;"-->
        <div class="row">
            <!--left/top-->
            <div class="row-xs-4 row-sm-4 row-md-4 col-lg-4">
                <h3>Line Graph</h3>
                <div class="form-group">
                    <label for="dropdown1">
                        This graph shows the *correlation* between the students grades averages.

                    </label>
                    <select name="dropdown1" id="dropdown1" class="form-control"
                            ng-model="ctrl.lineGraphSelected">
                        <option ng-repeat="tuple in ctrl.barGraphTuples" value="{{tuple}}">{{tuple}}</option>
                    </select>
                    <div
                        ng-messages="rideRequestForm.numPassengers.$dirty && rideRequestForm.numPassengers.$error">
                        <div class="input-error" ng-message="required">* required</div>
                    </div>
                </div>
                <button class="btn btn-success" ng-click="ctrl.showLineGraph()">Submit</button>
            </div>
            <!--right/bottom-->
            <div class="row-xs-8 row-sm-8 row-md-8 col-lg-8">
                    <div class="row">
                          <div id="chart_div"></div>
                    </div>
            </div>
        </div>
    </div>


    <script src="js/app.js"></script>
    <script src="js/studentservice.js"></script>

</body>

</html>
