<!DOCTYPE html>
<html ng-app="studentPerformance">

<head>
  <meta charset="utf-8" />
  <title>Student Performance</title>
  <link rel="stylesheet" href="css/style.css" />
    <script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
  <script data-require="d3@*" data-semver="3.3.11" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>
  <script src="js/Chart.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>

  <!-- Bootstrap and JQuery -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<header align="center" style="background-color: #4fc3f7">
    <p align="center" class="title">Student Life and Grade Correlation</p>
    <p align="center" class="names">
        <a ng-href="https://github.com/blh22buck">Bryce Hairabedian</a>,&nbsp;
        <a ng-href="https://github.com/davidjudilla">David Judilla</a>,&nbsp;
        <a ng-href="https://github.com/justinmend">Justin Mendiguarin</a>
    </p>
</header>
<br>

<body ng-controller="MainCtrl as ctrl" style="background-color: #fafbfc;">

    <!-- bar chart -->
    <div class="container-fluid" align="center"><!-- style="background-color: #cfc;"-->
        <div class="row" style="padding-bottom: 25px;">
            <!--left/top-->
            <div class="row-xs-4 row-sm-4 row-md-4 col-lg-2" align="left">
                <h3>Line Graph</h3>
                <div class="form-group">
                    <label for="dropdown1">
                        This graph shows the *correlation* between the students grades averages.
                    </label>
                    <select name="dropdown1" id="dropdown1" class="form-control"
                            ng-model="ctrl.graphNiceDescription">
                        <option ng-repeat="tuple in ctrl.barGraphTuples" value="{{tuple}}">{{tuple}}</option>
                    </select>
                </div>
                <button class="btn btn-success" ng-click="ctrl.showLineGraph()">Submit</button>
                <h4>Description of Y-axis:</h4>
                <div ng-switch on="ctrl.graphNiceDescription">
                  <div ng-switch-when="Students Age">
                    <span>Student's age (numeric: from 15 to 22).</span>
                  </div>
                  <div ng-switch-when="Absences">
                    <span>Number of school absences (numeric: from 0 to 93).</span>
                  </div>
                  <div ng-switch-when="Failures">
                    <span>Number of past class failures (numeric: n if 1<=n<3, else 4).</span>
                  </div>
                  <div ng-switch-when="Family Relationship">
                    <span>Quality of family relationships (numeric: from 1 - very bad to 5 - excellent).</span>
                  </div>
                  <div ng-switch-when="Daily Alcohol Consumption">
                    <span>Workday alcohol consumption (numeric: from 1 - very low to 5 - very high).</span>
                  </div>
                  <div ng-switch-when="Weekly Alcohol Consumption">
                    <span>Weekend alcohol consumption (numeric: from 1 - very low to 5 - very high).</span>
                  </div>
                </div>
            </div>
            <!--right/bottom-->
            <div class="row-xs-8 row-sm-8 row-md-8 col-lg-10" align="left" >
                    <div class="row">
                          <div id="chart_div"></div>
                    </div>
            </div>
        </div>
        <div><!-- hr won't work without a wrapping div-->
            <hr>
        </div>
    <!-- stats -->
        <div class="row">
            <!--left||top-->
            <div class="row-xs-4 row-sm-4 row-md-4 col-lg-2">
                <h3>Most Common</h3>
                <div class="form-group">
                    <label for="dropdown1">
                        This table shows the most common recorded value for the stat. Select grade %
                    </label>
                    <select name="dropdown2" id="dropdown2" class="form-control"
                            ng-model="ctrl.usrSelGradePer">
                        <option ng-repeat="gp in ctrl.gradePercentages" value="{{gp}}">{{gp}}</option>
                    </select>
                </div>
                <button class="btn btn-success" ng-click="ctrl.showStats()">Submit</button>

            </div>
            <!--right||bottom-->
            <!-- Converted the tuple values to fixed 2 decimal places -->
            <div class="row-xs-8 row-sm-8 row-md-8 col-lg-10">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-condensed">
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Daily Alcohol Consumption</th>
                                    <!-- <td>hello</td> -->
                                    <!-- <td>{{ctrl.currentStatsObj['Dalc']}} {{ctrl.tupleValueMeanings['Dalc']}}</td> -->
                                    <td>{{ctrl.currentStatsObj['Dalc'].toFixed(2)}} {{ctrl.getMeaningLowHigh(ctrl.currentStatsObj['Dalc'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Weekly Alcohol Consumption</th>
                                    <td>{{ctrl.currentStatsObj['Walc'].toFixed(2)}} {{ctrl.getMeaningLowHigh(ctrl.currentStatsObj['Walc'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                  <!-- Are the absences throughout the student's entire time of persuing education? -->
                                    <th class="col-xs-3">Number of School Absences</th>
                                    <td>{{ctrl.currentStatsObj['absences'].toFixed(2)}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Extra Curricular Activities</th>
                                    <td>{{ctrl.currentStatsObj['activities']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['activities'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Student's Age</th>
                                    <td>{{ctrl.currentStatsObj['age'].toFixed(2)}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Number of Past Class Failures</th>
                                    <td>{{ctrl.currentStatsObj['failures'].toFixed(2)}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Quality of Family Relationships</th>
                                    <td>{{ctrl.currentStatsObj['famrel'].toFixed(2)}} {{ctrl.getMeaningBadGood(ctrl.currentStatsObj['famrel'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Family Educational Support</th>
                                    <td>{{ctrl.currentStatsObj['famsup']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['famsup'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Free Time After School</th>
                                    <td>{{ctrl.currentStatsObj['freetime'].toFixed(2)}} {{ctrl.getMeaningLowHigh(ctrl.currentStatsObj['freetime'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Going Out With Friends</th>
                                    <td>{{ctrl.currentStatsObj['goout'].toFixed(2)}} {{ctrl.getMeaningLowHigh(ctrl.currentStatsObj['goout'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Current Health Status</th>
                                    <td>{{ctrl.currentStatsObj['health'].toFixed(2)}} {{ctrl.getMeaningBadGood(ctrl.currentStatsObj['health'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Internet Acess at Home</th>
                                    <td>{{ctrl.currentStatsObj['internet']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['internet'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Attended Nursery School</th>
                                    <td>{{ctrl.currentStatsObj['nursery']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['nursery'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">In a Romantic Relationship</th>
                                    <td>{{ctrl.currentStatsObj['romantic']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['romantic'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Extra Educational Support</th>
                                    <td>{{ctrl.currentStatsObj['schoolsup']}} {{ctrl.getMeaningYesNo(ctrl.currentStatsObj['schoolsup'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                <!-- Does this mean that the chosen gender is the outcome of between which gender of students had the particular grade percentage? -->

                                    <th class="col-xs-3">Majority gender within the selected grade range</th>
                                    <td>{{ctrl.currentStatsObj['sex']}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Weekly Study Time</th>
                                    <td>{{ctrl.currentStatsObj['studytime']}} {{ctrl.getMeaningStudyTime(ctrl.currentStatsObj['studytime'])}}</td>
                                </tr>
                                <tr ><!--ng-repeat="col in ctrl.stats"-->
                                    <th class="col-xs-3">Home to School Travel Time</th>
                                    <td>{{ctrl.currentStatsObj['traveltime']}} {{ctrl.getMeaningTravelTime(ctrl.currentStatsObj['traveltime'])}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
            </div>
        </div><!-- end stats row-->
        <div class="row">
            <!--left||top-->
            <div class="row-xs-4 row-sm-4 row-md-4 col-lg-2">
                <h3>Donut Chart</h3>
                <div class="form-group">
                    <label for="dropdown1">
                        Choose a time factor and selet a rage to see grade distrubution.
                    </label>

                    <select name="dropdown3" id="dropdown3" class="form-control"
                            ng-model="ctrl.userSelectedTimeFactor">
                        <option ng-repeat="tf in ctrl.uiTimeFactors" value="{{tf}}">{{tf}}</option>
                    </select>
                    <p>Range: 1 Very Low - 4 Very High</p>
                    <select name="dropdown4" id="dropdown4" class="form-control"
                            ng-model="ctrl.userSelectedTimeScale">
                        <option ng-repeat="t in ctrl.uiTimeScale4" value="{{t}}">{{t}}</option>
                    </select>
                </div>
                <button class="btn btn-success" ng-click="ctrl.showDonut()">Submit</button>
            </div>

            <div class="row-xs-8 row-sm-8 row-md-8 col-lg-10">
                <div id="donutchart" style="width: 900px; height: 500px;"></div>
            </div>
        </div>
    </div>



    <script src="js/app.js"></script>
    <script src="js/studentservice.js"></script>

</body>

</html>
